<html lang="en" data-ng-app="BlocksApp" class="ng-scope"><!--<![endif]--><!-- BEGIN HEAD -->

{{ .HtmlHead}}
<body ng-controller="MainController" class="page-header-fixed ng-scope"
      ng-class="{'page-content-white': settings.layout.pageContentWhite,'page-container-bg-solid': settings.layout.pageBodySolid}">
<!-- BEGIN PAGE SPINNER -->
<div ng-spinner-bar="" class="page-spinner-bar hide">
    <img src="/img/loading.gif">
</div>
<!-- END PAGE SPINNER -->
<!-- BEGIN HEADER -->
<div class="page-wrapper">
    <div class="page-wrapper-row">
        <div class="page-wrapper-top">
            <!-- BEGIN HEADER -->
            <!-- ngInclude: 'tpl/header.html' -->
            <div data-ng-include="'tpl/header.html'" data-ng-controller="HeaderController" class="page-header ng-scope">
                <!-- BEGIN HEADER TOP -->
                <div class="page-header-top ng-scope">
                    <div class="container">
                        <!-- BEGIN LOGO -->
                        <div class="page-logo">
                            <a href="/">
                                <img ng-show="settings.logo" src="/static/img/explorer-logo.png" alt="logo"
                                     class="logo-default">
                            </a>
                        </div>
                        <!-- END LOGO -->
                        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                        <a href="javascript:;" class="menu-toggler btn btn-sm green-haze btn-outline">菜单</a>
                        <!-- END RESPONSIVE MENU TOGGLER -->
                        <!-- BEGIN TOP NAVIGATION MENU -->
                        <div class="top-menu">
                            <ul class="nav navbar-nav pull-right">
                                <li class="dropdown">
                                    <form name="form.searchForm" class="search-form ng-pristine ng-valid">
                                        <div class="input-group">
                                            <input type="text" name="explorerSearch" id="findData"
                                                   class="form-control ng-pristine ng-untouched ng-valid"
                                                   placeholder="搜索  Address / Txhash / BlockNum / BlockHash"
                                                   ng-model="form.searchInput"
                                                   ng-keyup="$event.keyCode == 13 ? searchQuery(form.searchInput) : null">
                                            <span class="input-group-btn">
                                <a class="btn searchIcon" onclick="finde()">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </span>
                                        </div>
                                    </form>
                                </li>


                            </ul>
                        </div>
                        <!-- END TOP NAVIGATION MENU -->
                    </div>
                </div>

                <div class="page-header-menu ng-scope" style="display: block;">
                    <div class="container">

                        <!-- BEGIN MEGA MENU -->
                        <div class="hor-menu hor-menu-light">
                            <ul class="nav navbar-nav">
                                <li class="active">
                                    <a href="/">主页</a>
                                </li>


                            </ul>
                        </div>
                        <!-- END MEGA MENU -->
                    </div>
                </div>
                <!-- END HEADER INNER -->
            </div>
            <!-- END HEADER -->
        </div>
    </div>
    <div class="page-wrapper-row full-height">
        <div class="page-wrapper-middle">
            <div class="page-container">
                <div ng-show="!isHome" data-ng-include="'tpl/page-head.html'" data-ng-controller="PageHeadController"
                     class="page-head ng-scope ng-hide">
                    <div class="container ng-scope">
                        <div class="page-title">
                            <h1>
                                <span data-ng-bind="$state.current.data.pageTitle" class="ng-binding">Blockchain Explorer</span>
                                <small data-ng-bind="$state.current.data.pageSubTitle" class="ng-binding"></small>
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="page-content">
                    <div class="container">
                        <div ui-view="" class="fade-in-up ng-scope">
                            <div class="row ng-scope">
                                <div class="col-md-6 col-sm-6" style="margin-left: 10%;width:80%">
                                    <div class="portlet light">
                                        <div class="portlet-title">
                                            <div class="caption caption-md">
                                                <i class="fa fa-cubes font-red"></i>
                                                <span class="caption-subject font-red bold uppercase">区块</span>
                                            </div>
                                            <div class="actions">
                                                <div class="btn-group">
                                                    <a class="btn btn-med" href="javascript:location.reload();"><i
                                                            class="fa fa-refresh"
                                                            ng-class="{'fa-spin': blockLoading}"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    {{ .LayoutContent}}
                                        <div style="text-align:right" id="pagehtml">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
<script type="text/javascript">
    var N = 0
    var sech = ""
    $(function () {
        ajaxget(1, "")
        setInterval(function () {
           /* ajaxget(N, sech)*/
        }, 6000);
    });
    var finde = function search() {
        explorerSearch = $("#findData").val()
        ajaxget(1, explorerSearch)
    }


</script>
<script type="text/javascript">
    function ajaxget(number, serch) {
        var serchword = ""
        var num = 1
        if (serch.length > 0) {
            serchword = serch
            sech = serch
        }
        if (number > 1) {
            num = number
        }
        url = "/getdata?page=" + num + "&explorerSearch=" + serchword

        $.ajax({
            type: "get",
            async: true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
            url: url,    //请求发送到TestServlet处
            // data : {},
            dataType: "json",        //返回数据形式为json
            success: function (result) {
                var datalist = $("#datalist")
                datalist.html("")
                for (i = result.data.length-1; i >0 ; i--) {

                    var htmldata = htmlDatalist(result.data[i].data,result.data[i].number)
                    datalist.append(htmldata)
                }
                num = parseInt(result.culpage)
                N = num
                PagerHtml(result.totalcount, 10, num, serch, 5)
            },
            error: function (errorMsg) {
                //请求失败时执行该函数
                alert("获取数据失败!");
            }
        });
    }

    function htmlDatalist(data,number) {

        var htmllist = " <div class=" + "\"" + "todo-tasklist-item item-border-green row ng-scope" + "\"" + ">" +
                "<div class=" + "\"" + "col-sm-12" + "\"" + ">" +
                "<span class=" + "\"" + "todo-tasklist-item-title" + "\"" + "><a class=" + "\"" + "ng-binding" + "\"" + ">"+ number +"</a></span><br>" +
                "<span class=" + "\"" + "todo-tasklist-date ng-binding" + "\"" + ">2018-07-20 15:17:37 </span>" +
                "<span class=" + "\"" + "todo-tasklist-date ng-binding" + "\"" + "style="+"\""+"text-overflow:ellipsis;overflow:hidden;display:block;white-space:nowrap;"+"\""+ "title="+"\""+data+"\""+ ">" + data + "</span>" + "</div> </div>"
        return htmllist
    }

    function PagerHtml(totalcount, page_size, curpage, mpurl, number) {
        if (number % 2 == 0) {
            $("#pagehtml").html("")
            $("#pagehtml").append("请输入奇数")
            return
        }
        var totalpage = 0
        totalpage=Math.ceil(totalcount/page_size)
        //如果返回为空，那就返回为空
        if (totalcount == 0) {
            $("#pagehtml").html("")

            return ""
        }

        var html = ""
        //如果返回的条数大于每页的条数才能产生分页
        if (totalcount > page_size) {
            html = "<ul class=" + "\"" + "pagination" + "\"" + ">" +
                    "<li><a>" + totalcount + "条</a></li>" +
                    "<li><a>" + totalpage + "页</a></li>"
            if (curpage > 1) {
                html = html +
                        "<li>" +
                        "<a onclick=" + "ajaxget" + "(" + (curpage - 1) + "," + "\"" + mpurl + "\"" + ")" + " aria-label=" + "\"" + "Previous" + "\"" + ">" +
                        "<span aria-hidden=" + "\"" + "true" + "\"" + ">&laquo;</span>" +
                        "</a> </li>"
            }
            if (totalpage <= number) {
                for (i = 1; i <= totalpage; i++) {
                    if (i == curpage) {
                        html = html + "<li class=" + "\"" + "active" + "\"" + "><a onclick=" + "ajaxget" + "(" + i + "," + "\"" + mpurl + "\"" + ")" + " >" + i + "</a></li>"
                    } else {
                        html = html + "<li><a onclick=" + "ajaxget" + "(" + i + "," + "\"" + mpurl + "\"" + ")" + " >" + i + "</a></li>"
                    }
                }
            } else {
                if (curpage > 1) {
                    if (curpage < totalpage) {
                        var start = curpage - (number - 1) / 2
                        var end = curpage + (number - 1) / 2
                        var length = 0
                        if (start < 1) {
                            length = 1 - start
                            start = 1
                            if ((end + length) > totalpage) {
                                length = length - ((end + length) - totalpage)
                            }
                        }
                        if ((end + length) > totalpage) {
                            length = length - ((end + length) - totalpage)
                            if (length < 0) {
                                start = start + length
                            }
                        }
                        for (i = start; i <= end + length; i++) {
                            if (i == curpage) {
                                html = html + "<li class=" + "\"" + "active" + "\"" + "><a onclick=" + "ajaxget" + "(" + i + "," + "\"" + mpurl + "\"" + ")" + " >" + i + "</a></li>"
                            } else {
                                html = html + "<li><a onclick=" + "ajaxget" + "(" + i + "," + "\"" + mpurl + "\"" + ")" + " >" + i + "</a></li>"
                            }
                        }
                    } else {
                        for (i = curpage - number + 1; i <= curpage; i++) {
                            if (i == curpage) {
                                html = html + "<li class=" + "\"" + "active" + "\"" + "><a onclick=" + "ajaxget" + "(" + i + "," + "\"" + mpurl + "\"" + ")" + " >" + i + "</a></li>"
                            } else {
                                html = html + "<li><a onclick=" + "ajaxget" + "(" + i + "," + "\"" + mpurl + "\"" + ")" + " >" + i + "</a></li>"
                            }
                        }
                    }
                } else {
                    for (i = curpage; i <= number; i++) {
                        if (i == curpage) {
                            html = html + "<li class=" + "\"" + "active" + "\"" + "><a onclick=" + "ajaxget" + "(" + i + "," + "\"" + mpurl + "\"" + ")" + " >" + i + "</a></li>"
                        } else {
                            html = html + "<li><a onclick=" + "ajaxget" + "(" + i + "," + "\"" + mpurl + "\"" + ")" + " >" + i + "</a></li>"
                        }
                    }
                }
            }
            if (curpage < totalpage) {
                html = html +
                        "<li>" +
                        "<a onclick=" + "ajaxget" + "(" + (curpage + 1) + "," + "\"" + mpurl + "\"" + ")" + " aria-label=" + "\"" + "Next" + "\"" + ">" +
                        "<span aria-hidden=" + "\"" + "true" + "\"" + ">&raquo;</span>" +
                        "</a> </li>"
            }
            html = html + "</ul> </nav>"
        }
        $("#pagehtml").html("")
        $("#pagehtml").append(html)
    }

</script>
</html>